<!DOCTYPE html> 
<html> 
<head> 
  <title>Oh No My Money</title>
  
  <meta content="money, net worth, graphs, charts" name="keywords" />
  <meta content="<%= user.name %>'s money, on display, with graphs." name="description" />
  <meta content="<%= user.name %>" name="author" />
  <meta content="2008-2010" name="copyright" />
  
  <link href="/stylesheets/ohnomymoney.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/<%= user.handle %>/worth.xml" rel="alternate" title="Oh No My Money" type="application/rss+xml" />
  
  <% yield_content :head %>
</head> 
<body> 
  
  <%= yield %>
  
  <div class="footer"> 
    <% yield_content :footer %>
  </div> 
  
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-252618-6");
      pageTracker._trackPageview();
    } catch(err) {}
  </script>
  
</body>
</html>